.main-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    justify-content: center;
    height: 90vh;
    align-items: center;
    background-color: var(--color-primary);
    padding-top: 100px;
}

.left-container {
    width: 50%;
}

.o {
    width: 100%;
}

.right-container {
    width: 30%;
    margin: 50px;
}

.right-container p {
    color: white;
}

.order-specific-2 {
    width: 30%;
}

.order-specific-1 {
    width: 50%;
}

@media screen and (min-width: 0) and (max-width: 899px) {
    .main-container {
        flex-direction: column;
        padding-top: 20%;
        height: fit-content;
    }

    .left-container, .right-container {
        padding: 5%;
        width: 100%;
    }

    .navbar {
        position: fixed;
        background-color: var(--color-primary);
    }

    .navbar-nav {
        margin-top: 10px;
    }

    .order-specific-1 {
        order: 1;
        width: 100%;
    }

    .order-specific-2 {
        order: 2;
        width: 100%;
    }
}
