body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.o-auth-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    margin-top: 5%;
}

.img-last {
    width: 70px;
}
