.main-container-user-details {
    width: 90%;
    border: 2px solid #cdc9c9;
    border-radius: 10px;
    padding: 3%;
    transition: .3s;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.add-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
}

.user-data {
    margin: 50px;
}

.hire {
    width: 100px;
    background-color: limegreen
}

.delete-application {
    width: 200px;
    background-color: #f18383;
}